.container {
  width: 1280px;
  margin: 0 auto;
}

header .logo {
  display: block;
  padding: 20px 0;
  font-size: 26px;
  font-weight: 700;
}

header .fullwidth__containter {
  background-color: black;
}
header .fullwidth__containter:first-child {
  background-color: #2A2C2F;
  color: #f0f0f0;
}

@media screen and (max-width: 1280px) {
  header .fullwidth__containter {
    width: 1280px;
  }
}

header .navigation li {
  transition: opacity 500ms linear;
}

header .navigation li:hover {
  opacity: 0.5;
}

header .presentation {
  margin: 0 auto;
  height: 450px;
  background: url(./img/main.jpg) no-repeat;
}

.description {
  display: flex;
  justify-content: center;
}

.description__protect {

}