* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #222;
  background-color: rgb(248, 248, 248);
}

.container {
  width: 1280px;
  margin: 0 auto;
}

header .navigation__logo {
  color: #f0f0f0;
  cursor: pointer;
  text-decoration: none;
  padding: 20px 0;
  font-size: 26px;
  font-weight: 700;
}

header .fullwidth__containter {
  background-color: black;
}
header .fullwidth__containter:first-child {
  background-color: #2A2C2F;
  color: #f0f0f0;
}

@media screen and (max-width: 1280px) {
  header .fullwidth__containter {
    width: 1280px;
  }
}

header .navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .navigation__list {
  display: flex;
  list-style: none;
}

header .navigation__list a {
  cursor: pointer;
  color: #f0f0f0;
  text-decoration: none;
  margin: 0 20px;
  transition: opacity 500ms linear;
}

header .navigation__list a:hover {
  opacity: 0.5;
}

header .navigation__shoppin {
  margin-right: 20px;
  transition: 300ms linear;
}

header .navigation__shoppin:hover {
  opacity: 0.7;
  transform: scale(1.2);
}

header .navigation__shoppin.active {  
  color: red;
  transform: scale(1.5);
}

header .navigation__shoplist {
  position: absolute;
  top: 50px;
  right: 0;
  width: 450px;
  min-height: 100px;
  background-color: #fafafa;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 4px 5px 15px -7px #606060; 
  z-index: 1000; 
}

header .presentation {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  height: 450px;
  background: url(./img/main.jpg) no-repeat;
}

header .presentation h1{
  color: #f0f0f0;
  font-size: 60px;
  width: 400px;
  letter-spacing: 5px;
}

header .presentation a{
  color: #f0f0f0;
  background-color: #629514;
  padding: 10px 0px;
  width: 200px;
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 5px;
  transition: 200ms linear; 
  border-radius: 5px;
}

header .presentation a:hover{
  background-color: #70b903;
}

.description {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main div {
  margin: 20px 10px;
  width: 31%;
  text-align: center;
}

main div img {
  width: 400px;
}